.owl-buttons {
    width: 100%;
    height: 0; 
    top: 0; 
    left: 0; 
    bottom: 0;
    right: 0;
    position: absolute;
    margin: auto;

    button { 
        .icon {
            font-size: 70px;
            color: $owl-page-bg;
        }

        &:hover .icon,
        &:focus .icon,
        &:active.icon,
        &:active:focus .icon {                    
            color: $owl-page-bg-hover;
            transition: all .1s ease-in-out;
            opacity: 0.8;            
        }
    }
    .owl-prev,
    .owl-next {
        top: -35px;
        position: absolute;
    }

    .owl-prev { 
        left: 0;
    }
    .owl-next { 
        right: 0; 
    }
}
