.info-icon {

    > .icon,
    > .title {
        text-align: center;
        margin-bottom: 20px;
    } 

    > .icon {
        font-size: 140px;
        display: block;        
    }

    > .title {
        font-size: 16px;
        font-family: 'Montserrat';
    }
}