.info-icon {

    .info-icon-icon,
    .info-icon-title {
        text-align: center;
        margin-bottom: 20px;
    } 

    .info-icon-icon {
        font-size: 140px;
        display: block;        
    }

    .info-icon-title {
        font-size: 16px;
        font-family: 'Montserrat';
    }
}