.internal-banner {

    margin-top: 20px;
    background-color: $internal-banner-bg;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
        color: #fff;
        margin: 0 0 40px 0;
        font-size: toRem(60px);
    }

    .description {
        color: #fff;
        font-size: toRem(20px);
    }
}