.internal-banner {

    background-color: $internal-banner-bg;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &.-image {
        background-size: cover;
        background-repeat: no-repeat;

        .title,
        .description  {
            background-color: alpha($internal-banner-text-bg, 0.75);
        }
    }

    .title {
        padding: 0 15px;
        margin: 0 0 25px 0;
        font-size: toRem(45px);
        color: $internal-banner-color;
    }

    .description {
        padding: 0 15px;        
        font-size: toRem(20px);
        color: $internal-banner-color;
    }

    @media (max-width: $screen-sm) {
       .title {
            font-size: toRem(25px);
            margin: 0 0 15px 0;
        }

        .description {       
            font-size: toRem(18px);
        } 
    }
}