.list-videos {

    .list-videos-more {
        padding: 10px;
        text-align: center;
        font-weight: bold;
        border-top: 1px solid $anchor-color;
        display: block;

        &:hover
        &:focus,
        &:active {
            outline: 0;
        }
    }
}