.list-events {

    &.-border {
        .list-events-item {
            border-bottom: 1px solid $list-events-border-bottom;
            margin-bottom: 20px;
        }
    }

    &.-bordergray {
        .list-events-item {
            border-bottom: 1px solid $list-events-border-bottom-gray;
            margin-bottom: 15px;
        }
    }

    &.-article {
        .list-events-text {
            font-size: toRem(14px);
            margin: 0 0 15px;
        }
    }
        
    .list-events-date {
        font-size: toRem(12px);
        display: block;
    }

    .list-events-link {
        width: 100%;
        padding-bottom: 15px;
        font-weight: bold;
        color: $list-events-link-color;
        text-decoration: none;
        display: inline-block;

        &:hover,
        &:focus,
        &:active {
            color: darken(@color, 30%);
            text-decoration: none;
            outline: 0;
        }
    }

    .list-events-icon {
        margin-left: -7px;
    }    
}