.post-summary {

    margin-bottom: 20px;

    > .date {
        font-size: 12px;
        font-weight: bold;
    }

    > .title {
        margin: 0;
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        color: $post-summary-title;
    }

    > .link {
        text-decoration: underline;
    }
}