.table-site {
    width: 100%;
    border-collapse: collapse;

    tr:last-child td {
        border-bottom: 0;
    }

    th {
        background-color: $table-site-header-bg;
        color: $table-site-header-text;
    }

    td {
        margin: 0 5px;
        font-size: 15px;
        border-bottom: 1px solid $table-site-border;
    }

    th,
    td {
        padding: 10px;
    }
}