.video-item {
    
    margin-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;

    > .video-item-link {
        margin-right: 5px;
    }

    .video-item-image {
        width: 168px;
        height: 94px;
    }

    .video-item-content {
        .video-item-title {
            margin-right: 0;
            margin-top: 0;
            margin-bottom: 15px;
            font-size: 14px;
            font-weight: 400;
            font-family: 'Open Sans';
            text-transform: none;
        }

        .video-item-link {
            text-decoration: none;
            color: inherit;
        }

        .video-item-date { 
            font-size: 12px;
        }
    }
}