.input-group {
    .form-control {
        display: table-cell;
        border-right: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
}

.form-group {
    &.-error {
        .control-label {
            color: $form-error;
        }

        .form-control {
            border-color: $form-error;
        }
    }
}

.form-search {

    .form-control,
    .input-group > .addon > .button {
        color: $search-form-control-text;
        border-color: $search-form-control-border;
    }
}