.-grayscale {

    div,
    ul,
    section,
    article,
    header,
    footer {
        color: #fff!important;
        background-color: #000!important;
        border-color: #fff!important;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    hr,
    .control-label {
        color: #fff!important;
    }

    a {
        color: #fc0 !important;
    }

    .nav-site .nav-site-link:after {
        background-color: #fc0 !important;
    }

    .header-site,
    .util-bar {
        border-bottom: 1px solid #fff;
    }

    .footer-site {
        border-top: 1px solid #fff;
    }

    .internal-banner {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }

    .header-site + .internal-banner {
        border-top: 0;
    }

    .pagination-site .pagination-site-item.-alone, 
    .pagination-site .pagination-site-link {
        background-color: #fff!important;
    }

    .pagination-site .pagination-site-link {
        color: #000!important;
    }

    .pagination-site .pagination-site-link.-is-active, 
    .pagination-site .pagination-site-link:active, 
    .pagination-site .pagination-site-link:focus, 
    .pagination-site .pagination-site-link:hover {
        color: blue!important;
    }

    .table-site th {
        background-color: #fff;
        color: #000;
    }

    .photo-card {
        border: 1px solid #fff;
    }

    .social-link.-default .social-link-link:focus, 
    .social-link.-default .social-link-link:hover {
        background-color: #fc0;
        color: #fff!important;
    }

    .card-site .card-site-hover {
        background-color: #fff!important;
        color: blue!important;
    }

    .card-site .card-site-hover.-active, 
    .card-site .card-site-hover:active, 
    .card-site .card-site-hover:active:focus, 
    .card-site .card-site-hover:focus, 
    .card-site .card-site-hover:hover {
        background-color: blue!important;
        color: #fff!important;
    }

    .btn-default {
        color: #fff!important;
        border-color: #fff!important;
    }

    .btn-default:active, 
    .btn-default:focus, 
    .btn-default:hover {
        background: #fff!important;
        color: #000!important;
    }

    .wpcf7-mail-sent-ok, 
    .wpcf7-validation-errors{
        background-color: #fff!important;
        color: #000!important;
    }

    .internal-banner.-image .description, 
    .internal-banner.-image .title {
        background-color: #000!important;
    }

    .accessibility-list .accessibility-list-item .accessibility-list-button:active, 
    .accessibility-list .accessibility-list-item .accessibility-list-button:focus, 
    .accessibility-list .accessibility-list-item .accessibility-list-button:hover {
        color: #fc0!important;
    }

    @media (max-width: $screen-md){
        .nav-site .nav-site-item .nav-site-link:active, 
        .nav-site .nav-site-item .nav-site-link:focus, 
        .nav-site .nav-site-item .nav-site-link:hover {
            color: #000!important;
            background-color: #fc0 !important;
        }
    }

    .jump-to .jump-to-link {
        background-color: #000!important;
        border: 1px solid #fff;
    }

    ::selection {
        background-color: #fc0!important;
        color: #000;
    }

    .owl-buttons .icon:active, 
    .owl-buttons .icon:active:focus, 
    .owl-buttons .icon:focus, 
    .owl-buttons .icon:hover {
        color: #fc0;
    }
    .owl-pagination .owl-page.active span, 
    .owl-pagination .owl-page:hover span {
        background-color: #fc0;
    }

    .accessibility-list.-home {
		.accessibility-list-item .accessibility-list-button {
            color: #8fe68f;
		}
    }

    .logo-site img {
        filter: invert(300%);
    }

    .owl-pagination {
        background-color: transparent!important;
    }
}