/**
 * Classes auxiliares
 */

 ._img-responsive {
    max-width: 100%;
    display: block;
    height: auto;
 }

._text-right {
    text-align: right;
}

._overflow-hidden {
    overflow-x: hidden;
}

._section-site {
    margin-top: 25px;
}

._center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

._btn-margin {
    margin-top: 40px;
}

._margin-left-25 {
    margin-left: 25px;
}

._table_overflow {
    width: 100%;

    @media (max-width: $screen-sm) {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;        
    }
}

.__invisible-lg {
     @media (min-width: $screen-lg-min ) {
         display: none!important;
     }
 }

.__invisible-md {
     @media (min-width: $screen-md-min) and (max-width: $screen-lg ) {
         display: none!important;
     }
 }

 .__invisible-sm {
     @media (min-width: $screen-sm-min) and (max-width: $screen-md ) {
         display: none!important;
     }
 }

 .__invisible-vs {
     @media (min-width: $screen-xs-min) and (max-width: $screen-sm ) {
         display: none!important;
     }
 }

 .__invisible-xs {
     @media (max-width: $screen-xs ) {
         display: none!important;
     }
 }