/**
 * Cores
 */

// Geral
$base = #7d965d;
$default-text-color = #333;
$background = #fff;

$success = #8bc34a;
$danger = #ffeb3b;
$warning = #f44336;

/*
* Header
*/

//header

//Jump to
$jump-to-bg = #7d965d;

$header-bg = #e1e3da;
$header-text = $default-text-color;
$header-text-hover = #848973;
$header-text-mobile = #fff;
$header-text-bg-mobile = #848973;

//navbar-toggle
$navbar-toggle-bg = $default-text-color;

//navbar-control
$navbar-control-text = $default-text-color;

//nav-site
$nav-site-bg-mobile = $header-bg;

/**
* Content
*/

//owl-carousel
$owl-page-bg = #fff;
$owl-page-bg-hover = $base;

$btn-default-border = #7e9659;
$btn-default-text = $btn-default-border;
$btn-default-text-hover = #fff;