/**
 * Cores
 */

// Geral
$base = #7d965d;
$default-text-color = #333;
$background = #fff;
$anchor-color = #7e9659;

$success = #8bc34a;
$danger = #ffeb3b;
$warning = #f44336;
$form-error = #d86565;
$form-success = $base;

/*
* Header
*/

//header

//Jump to
$jump-to-bg = #7d965d;

$header-bg = #e1e3da;
$header-text = $default-text-color;
$header-text-hover = #848973;
$header-text-mobile = #fff;
$header-text-bg-mobile = #848973;

//navbar-toggle
$navbar-toggle-bg = $default-text-color;

//navbar-control
$navbar-control-text = $default-text-color;

//nav-site
$nav-site-bg-mobile = $header-bg;

/**
* Components
*/

//info-box
$info-base = $base;
$info-pastelblue = #2a99e0;
$info-aquablue = #257ec2;
$info-rederror = $form-error;

//internal-banner
$internal-banner-bg = $header-text-hover;

//bread-site
$bread-link = #fff;

//accessibility-list
$accessibility-list-icon = #fff;
$accessibility-list-icon-hover = $header-text-hover;

//figure-site
$figure-site-caption-bg = $anchor-color;
$figure-site-caption-text = #fff;

//owl-carousel
$owl-page-bg = #fff;
$owl-page-bg-hover = $base;

//form-group


//btn-default
$btn-default-border = #7e9659;
$btn-default-text = $btn-default-border;
$btn-default-text-hover = #fff;
/* danger */
$btn-default-danger-border = #d86565;
$btn-default-danger-text = $btn-default-danger-border;
$btn-default-danger-text-hover = #fff;

//control-label
$control-label-color = $anchor-color;

//list-events
$list-events-border-bottom = $base;
$list-events-link-color = $list-events-border-bottom;
$list-events-border-bottom-gray = #b3b3b3;

//post-summary
$post-summary-title = $anchor-color;
$post-summary-border-bottom = $header-text-hover;

//table-site
$table-site-header-bg = $anchor-color;
$table-site-header-text = #fff;
$table-site-border = $list-events-border-bottom-gray;

//messsage-site
$message-site-text = $anchor-color;

//pagination-site
$pagination-site-bg = $header-bg;
$pagination-site-color = $default-text-color;
$pagination-site-color-hover = $anchor-color;

//internal-banner
$internal-banner-color = #fff;
$internal-banner-text-bg = $anchor-color;

//search-form
$search-form-control-text = #ababab;
$search-form-control-bg = #fff;
$search-form-control-border = $search-form-control-text;

//card-site
$card-site-color = $default-text-color;
$card-site-hover-color = #fff;
$card-site-bg = $header-bg;
$card-site-bg-hover = $header-text-hover;
/**
* Forms
*/

//form-control
$form-control-text = $default-text-color;
$form-control-bg = #fff;
$form-control-border = #848973;

/*
* Footer
*/



//footer-site
$footer-bg = $header-bg;