/**
 * Tamanhos
 */

/**
* Forms
*/
$form-control-padding = 6px 12px;
$form-control-line-height = 1.42857143;
$form-control-font-size = 14px;
$form-control-radius = 4px;
$form-control-border = 1px $form-control-border solid;