/**
 * Definição de fontes
 */

@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,700'); 

// Famílias de fonte
$open-sans = 'Open Sans', sans-serif;
$montserrat = 'Montserrat', sans-serif;

// Tamanhos de fonte
$font-size = 16px;